In [7]:
import pandas as pd
import numpy as np
from IPython.display import display

## Removing NA Values

In [30]:
df = pd.DataFrame({
    "first": ["Matt", "Eli", "Tom"],
    "initial": ["H", np.nan, "S"],
    "last": ["Mazur", "Smith", np.nan]
})

print("Original:\n\n", df)
print("\nRemoving all rows with NA:\n\n", df.dropna())
print("\nRemoving just last names with NA:\n\n", df.dropna(subset=["last"]))
print("\nRemoving all columns with NA:\n\n", df.dropna(axis=1))

Original:

   first initial   last
0  Matt       H  Mazur
1   Eli     NaN  Smith
2   Tom       S    NaN

Removing all rows with NA:

   first initial   last
0  Matt       H  Mazur

Removing just last names with NA:

   first initial   last
0  Matt       H  Mazur
1   Eli     NaN  Smith

Removing all columns with NA:

   first
0  Matt
1   Eli
2   Tom